# Main workflows for UCL

name: Danger Pull requests review

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, edited]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Clone repo
        uses: actions/checkout@v1
#      - name: ktlint
#        uses: ScaCap/action-ktlint@master
#        with:
#          github_token: ${{ secrets.github_token }}
#          reporter: github-pr-check
#          android: true
#          level: info
#          fail_on_error: false
#      - name: detekt
#        uses: DominuS-RU/Detekt-Action@v1.16.0-RC1
#        with:
#          github_token: ${{ secrets.github_token }}
#          detekt_config: default-detekt-config.yml
#          reviewdog_level: info
#          fail_on_error: false
#          reviewdog_filter: file
      - name: Install ktlint
        uses: nbadal/action-ktlint-setup@v1
        with:
          ktlint_version: '0.40.0'
      - run: ktlint --version
        shell: bash
      - name: Danger
        uses: danger/kotlin@0.7.1
        with:
          args: --failOnErrors --no-publish-check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
