name: ktlint

on:
  pull_request:
    paths:
      - "**/*.kt"
      - ".github/workflows/ktlint.yml"
  workflow_dispatch:

jobs:
   ktlint:
     runs-on: ubuntu-latest

     steps:
       - name: "checkout"
         uses: actions/checkout@v2

       - name: ktlint
         uses: ScaCap/action-ktlint@master
         with:
           android: true
           github_token: ${{ secrets.github_token }}
           reporter: github-pr-check
