name: reviewdog
on: [pull_request]
jobs:
  ktlint:
    name: Check Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: ktlint
        uses: ScaCap/action-ktlint@master
        with:
          github_token: ${{ secrets.github_token }}
          android: true
          fail_on_error: false
#           reporter: github-pr-review # Change reporter

      - name: detekt
        uses: DominuS-RU/Detekt-Action@v1.16.0-RC1

